@model IEnumerable<NhlStats.Models.Team>
@{
    var currentSortOrder = ViewData["SortOrder"] as string;
    var nextSortOrderWins = currentSortOrder == "wins_desc" ? "wins_asc" : "wins_desc";
    var nextSortOrderPoints = currentSortOrder == "points_desc" ? "points_asc" : "points_desc";
    var seasons = ViewData["Seasons"] as List<NhlStats.Models.Season>;
    var selectedSeasonId = ViewData["SelectedSeasonId"] as int?;

    string GenerateOption(NhlStats.Models.Season season, int? selectedSeasonId)
    {
        var selectedAttribute = season.SeasonId == selectedSeasonId ? " selected" : "";
        return $"<option value=\"{season.SeasonId}\"{selectedAttribute}>{season.FormattedSeasonId}</option>";
    }
    }


<!DOCTYPE html>
<html>
<head>
    <title>NHL Teams</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>NHL Teams</h1>
        <form method="get" asp-action="Index">
            <label for="seasonSelect">Select Season:</label>
            <select id="seasonSelect" name="selectedSeasonId" onchange="this.form.submit()">
                @foreach (var season in seasons)
                {
                    @Html.Raw(GenerateOption(season, selectedSeasonId))
                }
            </select>
            <input type="hidden" name="sortOrder" value="@currentSortOrder" />
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@nextSortOrderWins">
                            Wins @if (currentSortOrder == "wins_desc")
                            {
                                <span>&#x25B2;</span>
                            }
                            else
                            {
                                <span>&#x25BC;</span>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@nextSortOrderPoints">
                            Points @if (currentSortOrder == "points_desc")
                            {
                                <span>&#x25B2;</span>
                            }
                            else
                            {
                                <span>&#x25BC;</span>
                            }
                        </a>
                    </th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-seasonId="@selectedSeasonId" asp-route-teamName="@team.TeamName" class="team-link">
                            @team.TeamName
                            </a>
                        </td>
                        <td>@team.Wins</td>
                        <td>@team.Points</td>
                        <td>
                            <a asp-action="Details" asp-route-seasonId="@selectedSeasonId" asp-route-teamName="@team.TeamName">
                            <img src="@team.TeamLogo" alt="@team.TeamName Logo" class="team-logo" />
                            </a>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>